<ion-content class="swiper-no-swiping">
  <div class="container top" [hidden]="keyboard.isVisible">
    <div class="center-items w-100">
    <img src="/assets/img/logo.png" >
  </div>
    <ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="login">
      <ion-segment-button mode="ios" value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="ios" value="register">
        <ion-label>Cadastro</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-slides>
    <ion-slide>
      <ion-card>
        <div class="slide-inner ion-padding">
          <ion-card-title>Login</ion-card-title>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password"></ion-input>
          </ion-item>

          <ion-button class="ion-margin-top" (click)="login()" color="medium" expand="block">
            Entrar
          </ion-button>
        </div>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <div class="slide-inner ion-padding">
          <ion-card-title>Cadastro</ion-card-title>
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="text" placeholder="Nome"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>
          </ion-item>

          <ion-button class="ion-margin-top" (click)="register()" color="medium" expand="block">
            Cadastrar
          </ion-button>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>