<ion-header>
  <ion-toolbar>
    <ion-title>tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex">
    <div class="card-default-items w-100">
      <ion-label>Se voce tomar o floral ... ira melhorar seu desempenho no trabalho</ion-label>
    </div>
    <div class="card-default-items w-100">
      <ion-label>Se voce tomar o floral ... vai acordar mais disposta</ion-label>
    </div>
  </div>
  <div class="d-flex">
    <div class="card-default-items w-100">
      <ion-label> 2</ion-label>
    </div>
    <div class="card-default-items w-100">
      <ion-label>3</ion-label>
    </div>
  </div>
</ion-content>
